body {
	font-family: 'Helvetica-Neue', helvetica, sans-serif;
    background-color: #D8D8D8;
    color: D8D8D8;
} 

.container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #2196f3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .register-form {
  display: block;
}




.container {
	margin: 100px auto 0 auto;
    text-align: center;
    width: 800px;
   
}

h1 {
    font-weight: 100;
    font-size: 40px;
}

h2 {
    font-weight: 100;
    font-size: 30px;
}
/*input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}*/

::-webkit-input-placeholder {
    padding: 10px;
    font-size: 16px;
}

/*button {
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}*/


.list {
    margin: 100px auto 0 auto;
    text-align: center;
    position: relative;
    font-size: 3px;
}

table {
    margin: auto;
    position: relative;
    width: 100%;
    font-size: 20px;
}
tr{
    text-align: center;
}

td {
    text-align: right;
    height: 50px;
    width: 175px;

}
